/* linguist-vendored
/android/** linguist-vendored
/ios/** linguist-vendored
/macos/** linguist-vendored
/linux/** linguist-vendored
/windows/** linguist-vendored
/web/** linguist-vendored
/test/** linguist-vendored
/build/** linguist-vendored
/lib/* linguist-detectable